{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": [
                "last 10 versions"
              ]
            }
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        ["@babel/plugin-proposal-decorators", { legacy: true }],
        ["@babel/plugin-proposal-class-properties", { loose: true }],
        ["@babel/plugin-transform-runtime"],
        "lodash",
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 10 versions"
              ]
            }
          }
        ],
        "react",
        "stage-0"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-runtime",
        "lodash"
      ]
    }
  }
}
